h2 {
  color: black;
  font-size: 24pt;
  font-family: "helvetica", arial, san-serif;
  
  }
.button{
  color: white;
  font-family: "helvetica";
  text-decoration: none;
  padding: 20px;
  background: green;
  hover-color: orange;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.button:hover {
  background-color: #4CAF50;
  color: black;
  
